.container {
  position: relative;
  height: 100vh;
  min-width: 100%;
  background-image: url("../../assets/images/BACKGROUND.png");
  background-color: #000000d6 ;
  background-size: cover;
  display: grid;
}

.containerForm {
    background-color: #fff;
    position: relative;
    width: 40vw;
    height: 85vh;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.containerForm .head h3 {
  text-transform: uppercase;
}

.btn {
  width: 100%;
  background-color: #76BB4C;
  color: #212121;
}